#pageTitle {
    color: black;
    text-align: center;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #a6c5f5;
    margin: 0;
    padding-bottom: 120px;
}

.main {
    flex-grow: 1;
    padding-bottom: 120px;
}


.sectionCard {
    background-color: #fffff2;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
}


.bodyCard {
    background-color: #fffff2;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
}

.customNavBar {
    background-color: #fffff2;
    font-family: 'Ubuntu', sans-serif;
}

.customFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 15px 20px;
    width: 100%;
    text-align: center;
}

.customNavLink {
    font-size: 2rem;

}
